body {
	background: url(https://amichalek.pl/combathalloween/images/tile.png);
	background-repeat: repeat;
}

.background {
	background: url(https://amichalek.pl/combathalloween/images/tile-sidenav.png);
	background-repeat: repeat;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.navbar-fixed {
	z-index: 99 !important;
}

#sidenav-overlay {
	left: 300px;
}

.fixed-action-btn {
	z-index: 98 !important;
}

@font-face {
	font-family: japokki;
	src: url( "https://amichalek.pl/combathalloween/fonts/Jaapokki-Regular.otf" );
}


/* Colors */
.bg-white {
	background-color: #FCFEFD;
}

.bg-black {
	background-color: #263238;
}

.char-white {
	color: #FCFEFD !important;
}

.char-black {
	color: #263238 !important;
}

/* Font */
.japokki {
	font-family: japokki;
}

.japokki-white {
	font-family: japokki;
	color: #FCFEFD !important;
}

.japokki-black {
	font-family: japokki !important;
	color: #263238 !important;
}

.japokki-success {
	font-family: japokki;
	color: #66BB6A;
}

.japokki-error {
	font-family: japokki;
	color: #EF5350;
}

.A1 {
	font-size: 110%;
}

.A2 {
	font-size: 120%;
}

.A3 {
	font-size: 130%;
}

.A4 {
	font-size: 140%;
}

.A5 {
	font-size: 150%;
}

.A7 {
	font-size: 170%;
}

.A22 {
	font-size: 220%;
}

.dropdown-content.select-dropdown li span {
	font-family: japokki !important;
	color: #263238 !important;
}

input {
	font-family: japokki;
}

select {
	font-family: japokki !important;
	color: #263238 !important;
}

textarea {
	font-family: japokki !important;
	color: #263238 !important;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #263238;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

/* For scrollspy to move offset */
.anchor {
	display: block;
	position: relative;
	top: -60px;
}

/* To disable links in a tags*/
.disabled {
	pointer-events:none;
	opacity:0.6;
}