body {
    background: url(http://combathalloween.netne.net/images/tile.png);
    background-repeat: repeat;
}

.background {
    background: url(http://combathalloween.netne.net/images/tile-sidenav.png);
    background-repeat: repeat;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.navbar-fixed {
    z-index: 99 !important;
}

.fixed-action-btn {
    z-index: 98 !important;
}

@font-face {
	font-family: japokki;
	src: url( "http://combathalloween.netne.net/fonts/Jaapokki-Regular.otf" );
}

nav {
  background-color: #253234 !important;
}

.member {
	font-family: japokki;
	font-size: 120%;
}

.tableheader {
	font-family: japokki;
	font-size: 150%;
}

.page-footer {
	font-family: japokki;
	font-size: 100%;
	color: #FCFEFD;
	background-color: #253234;
}

.parallax-container {
      height: 460px;
    }

.nav {
	font-family: japokki;
	font-size: 150%;
	color: #FCFEFD;
}

.cardy {
	font-family: japokki;
	font-size: 100%;
	color: #FCFEFD;
}

.nav-main {
	font-family: japokki;
	font-size: 225%;
	color: #FCFEFD;
	padding-left: 10px;
}

.nav-button {
	font-family: japokki;
	font-size: 100%;
	color: #FCFEFD;
}


.info {
	font-family: japokki;
	font-size: 125%;
	color: #424242;
}


h2 {
	font-family: japokki;
	font-size: 240%;
	color: #424242;
}

h4 {
	font-family: japokki;
	color: #FCFEFD;
}

.modcon {
	font-family: japokki;
	font-size: 150%;
	color: black;
}

h5 {
	font-family: japokki;
	font-size: 130%;
}

.modcon2 {
	font-family: japokki;
	font-size: 130%;
	color: black;
}

#sidenav-overlay {
   left: 300px;
}

.errorColor {
	color: #EF5350;
}

.successColor {
	color: #66BB6A;
}

input {
    font-family: japokki;
}

.select-content {
    font-family: japokki;
}

.japokki {
    font-family: japokki !important;
}

.dropdown-content {
    font-family: japokki;
}

textarea {
    font-family: japokki;
}

label {
    font-family: japokki;
}

.btn {
    font-family: japokki;
}

p {
    font-family: japokki;
}

.thin-text {
	font-family: japokki;
	font-size: 175%;
	font-weight: 300;
	background-color: rgba( 20, 20, 20, 0.2 );
	padding: 25px;
	border-radius: 10px
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #253234;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

/* For scrollspy to move offset */
.anchor {
    display: block;
    position: relative;
    top: -60px;
}

.disabled {
    pointer-events:none;
    opacity:0.6;
}