#bg {
    background: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

@font-face {
	font-family: badabb;
	src: url( "fonts/BADABB__.TTF" );
}

@font-face {
	font-family: japokki;
	src: url( "fonts/Jaapokki-Regular.otf" );
}

a {
	font-family: japokki;
	font-size: 150%;
	color: white;
}


.list {
	font-size: 120%;
}

.navbar-inverse {
	border-radius: 0 0 0 0;
}

.navbar-inverse .navbar-brand {
    font-family: badabb;
	font-size: 270%;
	color: white;
}

.navbar-inverse .navbar-nav > .active {
	color: #000;
	background: rgba(255,0,0,0);
 }
 .navbar-inverse .navbar-nav > .active > a, 
 .navbar-inverse .navbar-nav > .active > a:hover, 
 .navbar-inverse .navbar-nav > .active > a:focus {
	color: #000;
	background: #ddf8ff;
	border-radius: 10px;
 }